<h2>Planet Show Page (id: <%= @planet.id %>)</h2>

<%= @planet.to_json %>

<h3>Planet Name: <%= @planet.name %></h3>

<p>
  Planet Orbit: <%= @planet.orbit %>
</p>

<% if @planet.image %>
  <p>
    Planet Image: <img src="<%= @planet.image %>">
  </p>
<% end %>

<p>
  Planet Diameter: <%= @planet.diameter %>
</p>

<p>
  Planet Moons: <%= @planet.moons %>
</p>

<div class="controls">
  <a href="/planets/<%= @planet.id %>/edit">
    Edit this planet
  </a>

  <%= button_to "Destroy this Planet", "/planets/#{@planet.id}/delete", method: :delete %>

</div>
