<%= form_for @work do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title, required: true %>
  </p>
  <p>
    <%= f.label :year %>
    <%= f.text_field :year, required: true %>
  </p>
  <p>
    <%= f.label :medium %>
    <%= f.text_field :medium, required: true %>
  </p>
  <p>
    <%= f.label :style %>
    <%= f.text_field :style, required: true %>
  </p>
  <p>
    <%= f.label :image %>
    <%= f.url_field :image %>
  </p>
  <%= f.submit %>
<% end %>
