<%= form_for @work do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title, required: true %>
  </p>
  <p>
    <%= f.label :year %>
    <%= f.text_field :year, required: true %>
  </p>
  <p>
    <%= f.label :medium %>
    <%= f.text_field :medium, required: true %>
  </p>
  <p>
    <%= f.label :style %>
    <%= f.text_field :style, required: true %>
  </p>
  <p>
    <%= f.label :image %>
    <%= f.url_field :image %>
  </p>

  <p>
    <%= f.label :artist_id %>
    <%= f.collection_select(:artist_id, Artist.all, :id, :name) %>
  </p>
  <!--
  We should be able to select which Artist created a work
  - We need to store the artist_id of whatever the user selected
  -->
  <%= f.submit %>
<% end %>
