<h1><%= @work.title %></h1>

<% if @work.image %>
  <%= image_tag(@work.image) %>
<% end %>

<p>Year: <%= @work.year %></p>

<p>Medium: <%= @work.medium %></p>

<p>Style: <%= @work.style %></p>

<div class="controls">
  <%= link_to("Edit this work", edit_work_path(@work)) %>
  <%= link_to("Delete this work", work_path(@work), method: :delete, data: { confirm: "Are you sure?" }) %>
</div>

<p>
  <%= @work.artist.to_json %>
</p>

<p>
  Artist Name:
  <%#= @work.artist.name %>
  <%= link_to(@work.artist.name, "/artists/#{@work.artist_id}") %>
</p>
