<!-- The profile page -->

<h2>
  <%= @animal["species"] %>
</h2>

<p>
  Description: <%= @animal["description"] %>
</p>

<p>
  Image:
  <img src="<%= @animal['image'] %>">
</p>


<%#= @animal %>
<!-- CTRL + SHIFT + . -->

<div class="controls">
  <a href="/animals/<%= @animal['id'] %>/edit">
    Edit this animal
  </a>
  <a href="/animals/<%= @animal['id'] %>/delete">
    Delete this animal
  </a>
</div>
