<h1><%= @artist.name %></h1>

<%= image_tag( @artist.image ) %>

<ul>
  <li>Nationality: <%= @artist.nationality %></li>
  <li>DOB: <%= @artist.dob %></li>
  <li>Period: <%= @artist.period %></li>
</ul>
